/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    color: #005BBB;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

.reporttitle
{
    font-size: 1.2em;
    margin-bottom: 0px;    
    padding-bottom: 0px;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    color: #005BBB;
}

.pagetitle
{
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 0px;    
    padding-bottom: 0px;
    font-variant: small-caps;
    text-transform: none;
}

.username
{
    font-size: 1.2em;
    margin-bottom: 0px;    
    padding-bottom: 0px;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    color: #FFFFFF;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    /* width: 960px; */
    background-color: #FFFFEF;
    /* margin: 20px auto 0px auto; */
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #005BBB;
    width: 100%;
    height: 167px;
    background-image: url(Header-Background-2.png);
    background-repeat: no-repeat;
}

.narrowheader
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #005BBB;
    width: 100%;
    height: 50px;
    background-image: url(Header-Background-narrow.png);
    background-repeat: no-repeat;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #FFD500;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px;
    margin: 12px 4px 8px 4px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.rightCol
{
    width: 200px;
    float: right;
    height: 500px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.Button 
{
    cursor: pointer;
    display: block;
    font: 11px Verdana;
    text-align: center;
    padding: 7px;
}

.DemoSprite {
    background-image: url("Sprite.png");
    background-repeat: no-repeat;
}

#ThemeSelectorButton
{
    color: white;
    background-position: -378px -113px;
    width: 72px;
}

.ThemeSelectorPopup, .ThemeSelectorPopup.dxpc-mainDiv {
    background: none repeat scroll 0 0 #4B6C9E;
    color: White;
    padding: 0 12px;
}
.ThemeSelectorPopup.dxpc-mainDiv {
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}
#ThemesContainer {
    font-size: 16px;
    padding: 6px 3px 18px;
    width: 480px;
}
.ThemeGroupMenu {
    padding-top: 28px;
}
.ThemeGroupMenu ul {
    padding: 0;
}
.ThemeGroupMenu li {
    float: left;
}
.ThemeGroupMenu .dxm-item {
    color: white;
    cursor: pointer;
    font-size: 11px;
    font-style: italic;
    padding: 5px;
    text-align: center;
}
.ThemeGroupMenu .dxm-item img {
    margin-bottom: 4px;
}
.ThemeGroupMenu .dxm-hovered {
    background-color: white;
    color: #2F2F2F;
    padding: 5px;
}
.ThemeGroupMenu .dxm-selected {
    background-color: #B71D1D;
    color: White;
    cursor: default;
    font-weight: bold;
    padding: 5px;
}
.ThemeDefaultImage, .ThemeDevExImage, .ThemeMetropolisImage, .ThemeMetropolisBlueImage, .ThemeOffice2010BlueImage, .ThemeOffice2010BlackImage, .ThemeOffice2010SilverImage, .ThemeOffice2003BlueImage, .ThemeOffice2003OliveImage, .ThemeOffice2003SilverImage, .ThemeAquaImage, .ThemeGlassImage, .ThemeBlackGlassImage, .ThemePlasticBlueImage, .ThemeRedWineImage, .ThemeSoftOrangeImage, .ThemeYouthfulImage {
    height: 50px;
    width: 150px;
}
.ThemeDefaultImage {
    background-position: 0 0;
}
.ThemeOffice2003BlueImage {
    background-position: 0 -51px;
}
.ThemeOffice2003OliveImage {
    background-position: 0 -102px;
}
.ThemeOffice2003SilverImage {
    background-position: 0 -153px;
}
.ThemeYouthfulImage {
    background-position: 0 -204px;
}
.ThemePlasticBlueImage {
    background-position: 0 -255px;
}
.ThemeGlassImage {
    background-position: 0 -306px;
}
.ThemeBlackGlassImage {
    background-position: 0 -357px;
}
.ThemeDevExImage {
    background-position: -151px 0;
}
.ThemeOffice2010BlueImage {
    background-position: -151px -51px;
}
.ThemeOffice2010BlackImage {
    background-position: -151px -102px;
}
.ThemeOffice2010SilverImage {
    background-position: -151px -153px;
}
.ThemeAquaImage {
    background-position: -151px -204px;
}
.ThemeRedWineImage {
    background-position: -151px -255px;
}
.ThemeSoftOrangeImage {
    background-position: -151px -306px;
}
.ThemeMetropolisBlueImage {
    background-position: 0 -255px;
}
.ThemeMetropolisImage {
    background-position: 0 -357px;
}
