<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GUKV.ImportToolUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GUKV.ImportToolUtils.Properties.Settings>
            <setting name="OrgNameTOV" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ</string>
                        <string>АТ З ОБМЕЖ.ВІДПОВ.</string>
                        <string>АТ З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ</string>
                        <string>СПІЛЬНЕ ПІДПРИЄМСТВО ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ</string>
                        <string>СП УКР.-АМЕР.ПІДПРИЄМСТВО У ФОРМІ ТОВ</string>
                        <string>УКРАЇНСЬКО-ЛИТОВСЬКЕ СП У ФОРМІ ТОВ</string>
                        <string>СПІЛЬНЕ ПІДПРИЄМСТВО У ФОРМІ ТОВАРИСТВА З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-АМЕРИКАНСЬКЕ ПІДПРИЄМСТВО ТОВ</string>
                        <string>УКРАЇНСЬКО-РОСІЙСЬКЕ СЕРВІСНО-ВИРОБНИЧЕ І ТОРГІВЕЛЬНЕ ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ</string>
                        <string>УКРАЇНСЬКО-ШВЕДСЬКО-РОСІЙСЬКЕ МЕДИЧНЕ СПІЛЬНЕ ПІДПРИЄМСТВО У ФОРМІ ТОВАРИСТВА З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-СІРІЙСЬКЕ ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ</string>
                        <string>УКРАЇНСЬКО-НІМЕЦЬКЕ СПІЛЬНЕ ПІДПРИЄМСТВО У ФОРМІ ТОВАРИСТВА З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ</string>
                        <string>УКРАЇНСЬКО-ІТАЛІЙСЬКЕ ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ</string>
                        <string>УКР.-ІТАЛІЙСЬКЕ ТОВ.</string>
                        <string>УКР.-НІДЕРЛАНДСЬКЕ ТОВ</string>
                        <string>УКРАЇНСЬКО-НІДЕРЛАНДСЬКЕ ТОВ</string>
                        <string>СП ТОВ</string>
                        <string>ТОВ </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNamePainters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ЧЛЕН КОНСХУ</string>
                        <string>ЧЛЕН НАЦІОНАЛЬНОЇ СПІЛКИ ХУДОЖНИКІВ УКРАЇНИ ХУДОЖНИК</string>
                        <string>ХУДОЖНИК-ДИЗАЙНЕР</string>
                        <string>ХУДОЖНИК-АРХІТЕКТОР</string>
                        <string>ХУДОЖНИК-ГРАФІК</string>
                        <string>ХУДОЖНИК-ЕМАЛЬЄР</string>
                        <string>ХУДОЖНИК-КЕРАМІСТ</string>
                        <string>ХУДОЖНИК-МОНУМЕНТАЛІСТ</string>
                        <string>ХУДОЖНИК-ОФОРМЛЮВАЧ</string>
                        <string>ХУДОЖНИК-ОФОРМЛ.</string>
                        <string>ХУДОЖНИК-ПРОЕКТАНТ</string>
                        <string>ХУДОЖНИК-РЕСТАВРАТОР</string>
                        <string>ХУДОЖНИК-СКУЛЬПТОР</string>
                        <string>ЧЛЕН СПІЛКИ ХУДОЖНИКІВ УКРАЇНИ</string>
                        <string>ЧЛЕН СПІЛКИ КИЇВСЬКОГО МІСЬКОГО ОБ'ЄДНАННЯ ХУДОЖНИКІВ-АМАТОРІВ "ТВОРЧІСТЬ"</string>
                        <string>ЧЛЕН СПІЛКИ КОНСХУ</string>
                        <string>ЧЛЕН ТВОРЧОГО СОЮЗУ ХУДОЖНИКІВ ХУДОЖНИК</string>
                        <string>ЧЛЕН КИЇВСЬКОЇ ОРГАНІЗАЦІЇ НАЦІОНАЛЬНОЇ СПІЛКИ ХУДОЖНИКІВ</string>
                        <string>ЧЛЕН ХУДОЖНИК</string>
                        <string>ЧЛЕН НАЦІОНАЛЬНОЇ СПІЛКИ ХУДОЖНИКІВ УКРАЇНИ</string>
                        <string>ХУДОЖНИК</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameSP" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>УКРАЇНСЬКО-АВСТРІЙСЬКЕ СПІЛЬНЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-АВСТРІЙСЬКЕ СП</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-КАНАДСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-ІНДІЙСЬКЕ СП</string>
                        <string>УКРАЇНСЬКО-АМЕРИКАНСЬКЕ СП</string>
                        <string>УКРАЇНСЬКО-АМЕРИКАНСЬКЕ СПІЛЬНЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-БІЛОРУСЬКЕ СПІЛЬНЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-БІЛОРУСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-БІЛОРУС. СП</string>
                        <string>УКРАЇНСЬКО-БІЛОРУС.П-ВО</string>
                        <string>УКРАЇНСЬКО-ЛИТОВСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-ТУРЕЦЬКА ФІРМА</string>
                        <string>УКРАЇНСЬКО-СЛОВАЦЬКЕ СП</string>
                        <string>УКРАЇНСЬКО-УГОРСЬКЕ СП</string>
                        <string>УКРАЇНСЬКО-ЧЕШСЬКЕ СП</string>
                        <string>СПІЛЬНЕ РАДЯНСЬКО-АМЕРИКАНСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-РОСІЙСЬКО-УГОРСЬКО- НІМЕЦЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-РОСІЙСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ ПІДПРИЄМСТВО УКРАЇНСЬКО-ТУРЕЦЬКЕ</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-АМЕРИКАНСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-НІМЕЦЬКЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-ПОЛЬСЬКЕ СП</string>
                        <string>СПІЛЬНЕ ПІДПРИЄМСТВО ФІРМА</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-НІМЕЦЬКО-АМЕРИКАНСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-АМЕРИКАНСЬКЕ ГОТЕЛЬНО-ОФІСНЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-ШВЕЙЦАРСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-МОЛДАВСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-ІЗРАЇЛЬСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНО-ІСПАНСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-БРИТАНСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-ПОЛЬСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-ГЕРМАНСЬКА ФІРМА</string>
                        <string>УКРАЇНСЬКО-АМЕРИКАНСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-ЮГОСЛАВСЬКЕ СП</string>
                        <string>УКРАЇНСЬКО-БРИТАНСЬКЕ СП</string>
                        <string>УКРАЇНСЬКО-ВЕНГЕРСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-ІТАЛІЙСЬКЕ СПІЛЬНЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-БЕЛЬГІЙСЬКЕ ПІДПРИЄМСТВО</string>
                        <string>СУСПІЛЬНЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ ВИРОБНИЧЕ ПІДПРИЄМСТВО</string>
                        <string>СПІЛЬНЕ НАУКОВО-ВИРОБНИЧЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-НІМЕЦЬКЕ СПІЛЬНЕ ПІДПРИЄМСТВО</string>
                        <string>УКРАЇНСЬКО-НІМЕЦЬКЕ КОМЕРЦІЙНЕ ПІДПРИЄМСТВО</string>
                        <string>УКР.-НІМЕЦЬКЕ КОМЕРЦІЙНЕ П-ВО</string>
                        <string>УКРАЇНСЬКО-НІМЕЦЬКЕ ПІДПРИЄМСТВО</string>
                        <string>УКР.-НІМ. СПІЛ. ПІДПР.ТОВ</string>
                        <string>УКР.-НІМЕЦ. ПІДПР.</string>
                        <string>УКР.-НІМ.СП</string>
                        <string>СП </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNamePP" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПРИВАТНО-ВИРОБНИЧЕ ПІДПРИЄМСТВО</string>
                        <string>ПРИВАТНЕ ВИРОБНИЧЕ ПІДПРИЄМСТВО </string>
                        <string>ПІДПРИЄМСТВО З ІНОЗЕМНИМ КАПІТАЛОМ</string>
                        <string>ПІДПРИЄМСТВО З ІНОЗЕМНИМИ ІНВЕСТИЦІЯМИ</string>
                        <string>ПРИВАТНЕ ВИРОБНИЧО-КОМЕРЦІЙНЕ ПІДПРИЄМСТВО</string>
                        <string>ПРИВАТНА ВИРОБНИЧО-КОМЕРЦІЙНА ФІРМА</string>
                        <string>ПРИВАТНЕ БАГАТОПРОФІЛЬНЕ ПІДПРИЄМСТВО</string>
                        <string>ПРИВАТНЕ БАГАТОПРОФІЛЬНЕ МАЛЕ ПІДПРИЄМСТВО</string>
                        <string>П-ВО З ІН.ІНВЕСТИЦІЯМИ</string>
                        <string>П-ВО З ІНОЗ. ІНВЕСТИЦІЯМИ</string>
                        <string>ПРИВАТНЕ ВТ ПІДПРИЄМСТВО </string>
                        <string>ПІДПРИЄМСТВО</string>
                        <string>ПРИВАТНЕ ПІДПРИЄМСТВО</string>
                        <string>КОМЕРЦІЙНЕ ПІДПРИЄМСТВО</string>
                        <string>ПРИВАТНА ФІРМА</string>
                        <string>КОМЕРЦІЙНА ТУРИСТИЧНА ФІРМА</string>
                        <string>КОМЕРЦІЙНА ФІРМА</string>
                        <string>КОМПААНІЯ</string>
                        <string>КОМПАНІЯ</string>
                        <string>ФІРМА</string>
                        <string>ПІДПР.</string>
                        <string>ПІД-ВО</string>
                        <string>ПВПП </string>
                        <string>ПВТП </string>
                        <string>ПВТФ </string>
                        <string>ПВКФ </string>
                        <string>ПВКП </string>
                        <string>ПБМП </string>
                        <string>ПБПП </string>
                        <string>ПВП</string>
                        <string>ПБП  </string>
                        <string>ПП </string>
                        <string>ПФ </string>
                        <string>П </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameFOP" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ФІЗИЧНА ОСОБА ПІДПРИЄМЕЦЬ</string>
                        <string>ФІЗИЧНА ОСОБА  ПІДПРИЄМЕЦЬ</string>
                        <string>ФІЗИЧНА ОСОБА- ПІДПРИЄМЕЦЬ</string>
                        <string>ФІЗИЧНА ОСОБА-ПІДПРИЄМЕЦЬ</string>
                        <string>ФІЗИЧНА ОСОБА - ПІДПРИЄМЕЦЬ</string>
                        <string>СУБ'ЄКТ ПІДПРИЄМНИЦЬКОЇ ДІЯЛЬНОСТІ ФІЗИЧНА ОСОБА</string>
                        <string>СУБ'ЄКТ ПІДПРИЄМНИЦЬКОЇ ДІЯЛЬНОСТІ -ФІЗИЧНА ОСОБА</string>
                        <string>СУБ"ЄКТ ПІДПРИЄМНИЦЬКОЇ ДІЯЛЬНОСТІ - ФІЗИЧНА ОСОБА</string>
                        <string>ФІЗИЧНА ОСОБА</string>
                        <string>ПІДПРИЄМЕЦЬ</string>
                        <string>ГРОМАДЯНИН</string>
                        <string>ГРОМАДЯНКА</string>
                        <string>СПД-ФО</string>
                        <string>СПД-ФІЗИЧНА ОСОБА</string>
                        <string>СПДФО</string>
                        <string>ФО-П</string>
                        <string>ФОП </string>
                        <string>ФО </string>
                        <string>СПД </string>
                        <string>ГРН </string>
                        <string>ГР-Н</string>
                        <string>ГР-КА</string>
                        <string>ГР.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameAdvBureau" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>АДВОКАТСЬКА КОМПАНІЯ</string>
                        <string>АДВОКАТСЬКА КОНТОРА</string>
                        <string>АДВОКАТСЬКА ФІРМА</string>
                        <string>АДВОКАТСЬКЕ БЮРО</string>
                        <string>АДВОКАТСЬКЕ ОБ'ЄДНАННЯ</string>
                        <string>АДВОКАЦЬКЕ ОБ'ЄДНАННЯ</string>
                        <string>АДВОКАТСЬКЕ ОБ"ЄДНАННЯ</string>
                        <string>АДВОКАТ.КОМПАНІЯ</string>
                        <string>ОБ'ЄДНАННЯ АДВОКАТІВ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameComBank" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>АКЦІОНЕРНИЙ ПОШТОВО-ПЕНСІЙНИЙ БАНК</string>
                        <string>АКЦ. ПОШТОВО-ПЕНСІЙНИЙ БАНК</string>
                        <string>АКЦІОНЕРНО-КОМЕРЦІЙНИЙ БАНК</string>
                        <string>АКЦІОНЕРНО - КОМЕРЦІЙНИЙ БАНК</string>
                        <string>АКЦІОНЕРНИЙ КОМЕРЦІЙНИЙ БАНК</string>
                        <string>АКЦІОНЕРНИЙ КОМЕРЦ. БАНК</string>
                        <string>АКЦІОНЕРНИЙ БАНК</string>
                        <string>АК БАНК</string>
                        <string>АКБ </string>
                        <string>АБ </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameAdvocate" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПРИВАТНИЙ АДВОКАТ</string>
                        <string>АДВОКАТ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameOSBB" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ОБ'ЄДНАННЯ СПІВВЛАСНИКІВ БАГАТОКВАРТИРНИХ БУДИНКІВ</string>
                        <string>ОБ'ЄДНАННЯ СПІВВЛАСНИКІВ БАГАТОПОВЕРХОВИХ БУДИНКІВ</string>
                        <string>ОСББ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNamePAT" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПУБЛІЧНЕ АКЦІОНЕРНЕ ТОВАРИСТВО</string>
                        <string>ВІДКРИТЕ АКЦІОНЕРНЕ ТОВАРИСТВО</string>
                        <string>АКЦІОНЕРНЕ ТОВАРИСТВО ВІДКРИТОГО ТИПУ</string>
                        <string>ПАТ </string>
                        <string>ВАТ </string>
                        <string>АТ ВТ</string>
                        <string>АТВТ </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameZAT" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ЗАКРИТЕ АКЦІОНЕРНЕ ТОВАРИСТВО</string>
                        <string>СПІЛЬНЕ ПІДПРИЄМСТВО У ФОРМІ ЗАКРИТОГО АКЦІОНЕРНОГО ТОВАРИСТВА</string>
                        <string>СПІЛЬНЕ УКРАЇНСЬКО-АМЕРИКАНСЬКЕ ПІДПРИЄМСТВО У ФОРМІ ЗАКРИТОГО АКЦІОНЕРНОГО ТОВАРИСТВО</string>
                        <string>СПІЛЬНЕ ПІДПРИЄМСТВО ЗАКРИТЕ АКЦІОНЕРНЕ ТОВАРИСТВО</string>
                        <string>АКЦІОНЕРНЕ ТОВАРИСТВО ЗАКРИТОГО ТИПУ</string>
                        <string>АКЦІОНЕРНЕ ОБ'ЄДНАННЯ ЗАКРИТЕ ТОВАРИСТВО</string>
                        <string>СП У ФОРМІ ЗАТ</string>
                        <string>СП ЗАТ</string>
                        <string>ЗАТ </string>
                        <string>АТ ЗТ</string>
                        <string>АТЗТ </string>
                        <string>АОЗТ </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameGromad" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПІДПРИЄМСТВО ГРОМАДСЬКОЇ ОРГАНІЗАЦІЇ</string>
                        <string>ВСЕУКРАЇНСЬКА ГРОМАДСЬКА ОРГАНІЗАЦІЯ</string>
                        <string>МІЖНАРОДНА ГРОМАДСЬКА ОРГАНІЗАЦІЯ</string>
                        <string>ГРОМАДСЬКА ОРГАНІЗАЦІЯ</string>
                        <string>ПГО </string>
                        <string>ГО </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameKP" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>КОМУНАЛЬНЕ ПІДПРИЄМСТВО</string>
                        <string>КП </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameKoop" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ГОЛАНДСЬКИЙ КООПЕРАТИВ ФЕРМЕРІВ</string>
                        <string>КООПЕРАТИВ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameAT" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>АКЦІОНЕРНА ФІНАНСОВА ІНВЕСТИЦІЙНА КОМПАНІЯ</string>
                        <string>АКЦІОНЕРНЕ ТОВАРИСТВО-ФІРМА</string>
                        <string>АКЦІОНЕРНЕ ТОВАИСТВО</string>
                        <string>АКЦІОНЕРНА КОМПАНІЯ</string>
                        <string>АКЦІОНЕРНЕ ТОВАРИСТВО</string>
                        <string>АКЦІОНЕРНЕ ПІДПРИЄМСТВО </string>
                        <string>АКЦІОНЕРНЕ ОБ'ЄДНАННЯ</string>
                        <string>АТФ </string>
                        <string>АК </string>
                        <string>АТ </string>
                        <string>АО </string>
                        <string>АП </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameBlago" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>МІСЬКИЙ БЛАГОДІЙНИЙ ФОНД СОЦІАЛЬНОЇ РЕАБІЛІТАЦІЇ МОЛОДІ</string>
                        <string>МІЖНАРОДНИЙ ЖІНОЧИЙ БЛАГОДІЙНИЙ ФОНД</string>
                        <string>МІЖНАРОДНА БЛАГОДІЙНА ОРГАНІЗАЦІЯ</string>
                        <string>МІЖНАРОДНИЙ БЛАГОДІЙНИЙ ДИТЯЧИЙ ФОНД</string>
                        <string>МІЖНАРОДНИЙ БЛАГОДІЙНИЙ ФОНД</string>
                        <string>БЛАГОДІЙНА ОРГАНІЗІЯ</string>
                        <string>МІСЬКИЙ БЛАГОДІЙНИЙ ФОНД</string>
                        <string>ВСЕУКРАЇНСЬКИЙ БЛАГОДІЙНИЙ ФОНД</string>
                        <string>УКРАЇНСЬКИЙ БЛАГОДІЙНИЙ ФОНД</string>
                        <string>МІСЦЕВИЙ БЛАГОДІЙНИЙ ФОНД</string>
                        <string>БЛАГОДІЙНЕ ТОВАРИСТВО</string>
                        <string>БЛАГ.МЕМОРІАЛЬНИЙ ФОНД</string>
                        <string>БЛАГОДІЙНО-ЕКОЛОГІЧНИЙ ФОНД</string>
                        <string>БЛАГОД.-ЕКОЛОГ. ФОНД</string>
                        <string>БЛАГ.ОРГ.</string>
                        <string>БЛАГОДІЙНА ОРГАНІЗАЦІЯ</string>
                        <string>БЛАГОДІЙНИЙ ФОНД</string>
                        <string>БЛАГОД.ОРГАНІЗАЦІЯ</string>
                        <string>БЛАГ.ОРГАНІЗАЦІЯ</string>
                        <string>БЛАГ.ОРГ-ЦІЯ</string>
                        <string>БЛАГОД.ОРГ-ЦІЯ</string>
                        <string>БЛАГ.ФОНД</string>
                        <string>БЛАГОД.ТОВ-ВО</string>
                        <string>БФІВ </string>
                        <string>БО </string>
                        <string>БФ </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameAssoc" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>МІЖНАРОДНА БЛАГОДІЙНА АСОЦІАЦІЯ</string>
                        <string>БЛАГОДІЙНА ГРОМАДСЬКА ОРГАНІЗАЦІЯ АСОЦІАЦІЯ</string>
                        <string>КИЇВСЬКА АСОЦІАЦІЯ ІНВАЛІДІВ ЦЕРЕБРАЛЬНОГО ПАРАЛІЧУ</string>
                        <string>АСОЦІАЦ.ІНВАЛІДІВ ЦЕРЕБРАЛЬНОГО ПАРАЛІЧУ</string>
                        <string>АСОЦІАЦІЯ ДІЛОВОГО СПІВРОБІТНИЦТВА</string>
                        <string>УКРАЇНСЬКА БАГАТОГАЛУЗЕВА ГОСПОДАРЧА АСОЦІАЦІЯ</string>
                        <string>ВСЕУКРАЇНСЬКА АСОЦІАЦІЯ</string>
                        <string>УКРАЇНСЬКА АСОЦІАЦІЯ</string>
                        <string>ГОСПОДАРСЬКА АСОЦІАЦІЯ</string>
                        <string>КИЇВСЬКА МІСЬКА АСОЦІАЦІЯ</string>
                        <string>МЕДИКО-ФАРМАЦЕВТИЧНА АСОЦІАЦІЯ</string>
                        <string>МІЖГАЛУЗЕВА АСОЦІАЦІЯ</string>
                        <string>ГРОМАДСЬКА ОРГАНIЗАЦIЯ АСОЦIАЦIЯ</string>
                        <string>АСАЦІАЦІЯ</string>
                        <string>АСОЦІАЦІЯ</string>
                        <string>АСОЦІАЦ.</string>
                        <string>АСОЦ.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameUpr" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ДЕРЖАВНЕ ПІДПРИЄМСТВО - УКРАЇНСЬКЕ ДЕРЖАВНЕ УПРАВЛІННЯ</string>
                        <string>АДМІНІСТРАТИВНО-ГОСПОДАРЧЕ УПРАВЛІННЯ</string>
                        <string>ГОЛОВНЕ ДЕРЖАВНЕ ОПЕРАТИВНЕ УПРАВЛІННЯ</string>
                        <string>ГОЛОВНЕ УПРАВЛІННЯ ТОРГІВЛІ</string>
                        <string>ГОЛОВНЕ ДЕРЖАВНЕ УПРАВЛІННЯ</string>
                        <string>ГОЛОВНЕ УПРАВЛІННЯ</string>
                        <string>ГОЛ. УПР. ТОРГІВЛІ</string>
                        <string>ГОЛ.ДЕРЖ.УПР.</string>
                        <string>ГОЛОВНЕ УПР.</string>
                        <string>ГОЛОВНЕ УПРАВ.</string>
                        <string>ГОЛОВНЕ УПРАВЛ.</string>
                        <string>ГОЛОВ.УПР.</string>
                        <string>ГОЛ.УПР.</string>
                        <string>УКРАЇНСЬКЕ ДЕРЖАВНЕ УПРАВЛІННЯ</string>
                        <string>КИЇВСЬКЕ МІСЬКЕ УПРАВЛІННЯ.</string>
                        <string>КИЇВСЬКЕ МІСЬКЕ УПРАВЛІННЯ</string>
                        <string>ДЕРЖАВНЕ УПРАВЛІННЯ</string>
                        <string>УПРАВЛІННЯ</string>
                        <string>УПРАВ.</string>
                        <string>УПР-НЯ</string>
                        <string>УП-НЯ</string>
                        <string>УПР.</string>
                        <string>АГУ </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameZHBK" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ЖИТЛОВО-БУДІВЕЛЬНИЙ КООПЕРАТИВ</string>
                        <string>ЖБК </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNameZHEK" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ЖИТЛОВО ЕКСПЛУАТАЦІЙНА КОНТОРА</string>
                        <string>ЖЕК-</string>
                        <string>ЖЕК </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OrgNamePobut" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ДЕРЖАВНЕ ПІДПРИЄМСТВО ПОБУТУ</string>
                        <string>ДЕРЖ. ПІДПРИЄМСТВО ПОБУТУ</string>
                        <string>ТОВ "БУДИНОК ПОБУТУ</string>
                        <string>ТОВ БУДИНОК ПОБУТУ</string>
                        <string>ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "БУДИНОК ПОБУТУ</string>
                        <string>ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ БУДИНОК ПОБУТУ</string>
                        <string>АКЦІОНЕРНЕ ТОВАРИСТВО ВІДКРИТОГО ТИПУ БУДИНОК ПОБУТУ</string>
                        <string>ОРЕНДНЕ ПІДПРИЄМСТВО БУДИНОК ПОБУТУ</string>
                        <string>АТ ВТ БУДИНОК ПОБУТУ</string>
                        <string>ОП БУДИНОК ПОБУТУ</string>
                        <string>БУДИНОК ПОБУТУ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Connection1NFServer" serializeAs="String">
                <value>gukv_1nf</value>
            </setting>
            <setting name="Connection1NFDatabase" serializeAs="String">
                <value>c:\database\1nf\1nf.gdb</value>
            </setting>
            <setting name="Connection1NFUser" serializeAs="String">
                <value>SYSDBA</value>
            </setting>
            <setting name="Connection1NFPassword" serializeAs="String">
                <value>masterkey</value>
            </setting>
            <setting name="ConnectionBalansServer" serializeAs="String">
                <value>gukv-balans</value>
            </setting>
            <setting name="ConnectionBalansDatabase" serializeAs="String">
                <value>c:\db\Balans_Polygon.gdb</value>
            </setting>
            <setting name="ConnectionBalansUser" serializeAs="String">
                <value>SYSDBA</value>
            </setting>
            <setting name="ConnectionBalansPassword" serializeAs="String">
                <value>masterkey</value>
            </setting>
            <setting name="ConnectionNJFServer" serializeAs="String">
                <value>gukv</value>
            </setting>
            <setting name="ConnectionNJFDatabase" serializeAs="String">
                <value>d:\database\njf\newnjf.gdb</value>
            </setting>
            <setting name="ConnectionNJFUser" serializeAs="String">
                <value>SYSDBA</value>
            </setting>
            <setting name="ConnectionNJFPassword" serializeAs="String">
                <value>masterkey</value>
            </setting>
            <setting name="ConnectionSQLServerServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ConnectionSQLServerDatabase" serializeAs="String">
                <value>GUKV</value>
            </setting>
            <setting name="ConnectionSQLServerUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="ConnectionSQLServerPassword" serializeAs="String">
                <value>13579</value>
            </setting>
            <setting name="AddressMiscSuffixes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>БОЙЛЕРНА</string>
                        <string>БОЙЛЕР</string>
                        <string>ФАСАД</string>
                        <string>САДИБА</string>
                        <string>КОТЕЛЬНЯ</string>
                        <string>ПОГРЕБ</string>
                        <string>ГАРАЖ</string>
                        <string>ГАРАЖІ</string>
                        <string>БЮВЕТ</string>
                        <string>СКВЕРБЮВЕТ</string>
                        <string>ПРИБУДОВА</string>
                        <string>ПРИБУД.</string>
                        <string>ПРИМІЩ.</string>
                        <string>БЕЗГОСП</string>
                        <string>ВЕРАНДА</string>
                        <string>САРАЙ</string>
                        <string>НАМЕТ</string>
                        <string>ПАВІЛЬЙОН</string>
                        <string>ГОСП.СПОРУДА</string>
                        <string>ГОСП.СПОР.</string>
                        <string>ВИД</string>
                        <string>АРЕНА</string>
                        <string>НЕДОБУДОВА</string>
                        <string>КІОСК</string>
                        <string>ТУАЛЕТ</string>
                        <string>МАЙСТЕРНЯ</string>
                        <string>БОМБ</string>
                        <string>БАСЕЙН</string>
                        <string>МАЙДАНЧИК</string>
                        <string>ВБИРАЛЬНЯ</string>
                        <string>ДУШ</string>
                        <string>НАСОСНА</string>
                        <string>СКЛАД</string>
                        <string>ТП ПРИБУДОВА</string>
                        <string>СВЕРДЛОВИНА</string>
                        <string>НС</string>
                        <string>ТП</string>
                        <string>СМ</string>
                        <string>БУД</string>
                        <string>КМ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AddrTypeCity" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>М</string>
                        <string>МІСТО</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AddrTypeVillage" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>С</string>
                        <string>С-ЩЕ</string>
                        <string>СЕЛИЩЕ</string>
                        <string>СМТ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AddrTypeBoulevard" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>БУЛЬВ</string>
                        <string>БУЛЬВАР</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AddrTypeLane" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПРОВ</string>
                        <string>ПРОВУЛОК</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AddrTypeAvenue" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПРОСП</string>
                        <string>ПРОСПЕКТ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AddrTypeSquare" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПЛ</string>
                        <string>ПЛОЩА</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AddrTypePark" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПАРК</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AddrKnownVillages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ТЕТЕРІВ</string>
                        <string>ВОРЗЕЛЬ</string>
                        <string>БОРИСПІЛЬ</string>
                        <string>ГОСТОМЕЛЬ</string>
                        <string>ЛИМАН ОДЕСЬКА ОБЛ</string>
                        <string>ХЕРСОНСЬКА ОБЛ</string>
                        <string>С.ЖУКИН</string>
                        <string>МАКАРІВ</string>
                        <string>ШЕВЧЕНКОВО</string>
                        <string>ВОРОПАЇВ</string>
                        <string>БРОВАРСЬКЕ ЛІСНИЦТВО</string>
                        <string>М.ОБУХІВ</string>
                        <string>ХОТЯНІВКА</string>
                        <string>ГРЕБЕНІ</string>
                        <string>М.СЕВАСТОПОЛЬ</string>
                        <string>ІВАНКІВ</string>
                        <string>М.ВИШГОРОД</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StreetNameCorrections" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>40-РІЧЧЯ=СОРОКАРІЧЧЯ ЖОВТНЯ ПРОСП.</string>
                        <string>ЇЖАКЕВИЧА=ЇЖАКЕВИЧА ІВАНА</string>
                        <string>БАЛЬЗАКА=БАЛЬЗАКА ОНОРЕ ДЕ</string>
                        <string>БЕРЕТТІ=БЕРЕТТІ ВІКЕНТІЯ</string>
                        <string>БОРИСПІЛЬСЬКЕ=БОРИСПІЛЬСКЕ ШОСЕ</string>
                        <string>ВАСИЛЕВСЬКОЇ=ВАСИЛЕВСЬКОЇ ВАНДИ</string>
                        <string>ВЕРНАДСЬКОГО=ВЕРНАДСЬКОГО АКАДЕМІКА БУЛЬВ.</string>
                        <string>ВЕРБИЦЬКОГО=ВЕРБИЦЬКОГО АРХІТЕКТОРА</string>
                        <string>ГАГАРІНА=ГАГАРІНА ЮРІЯ ПРОСП.</string>
                        <string>ГАВРО=ГАВРО ЛАЙОША</string>
                        <string>Б.ГАРІНА=ГАРІНА БОРИСА</string>
                        <string>Б. ГАРІНА=ГАРІНА БОРИСА</string>
                        <string>ГАРІНА Б=ГАРІНА БОРИСА</string>
                        <string>"ГАРІНА"=ГАРІНА БОРИСА</string>
                        <string>ГЕТЬМАНА=ГЕТЬМАНА ВАДИМА</string>
                        <string>ГЛУШКОВА=ГЛУШКОВА АКАДЕМІКА</string>
                        <string>ГОНЧАРА=ГОНЧАРА ОЛЕСЯ</string>
                        <string>ГОНГАДЗЕ=ГОНГАДЗЕ ГЕОРГІЯ ПРОСП.</string>
                        <string>ГОРОДЕЦЬКОГО=ГОРОДЕЦЬКОГО АРХІТЕКТОРА</string>
                        <string>ГРЕКОВА=ГРЕКОВА АКАДЕМІКА</string>
                        <string>ГРІНЧЕНКА М=ГРІНЧЕНКА МИКОЛИ</string>
                        <string>ГРІНЧЕНКА Б=ГРІНЧЕНКА БОРИСА</string>
                        <string>ГРУШЕВСЬКОГО=ГРУШЕВСЬКОГО МИХАЙЛА</string>
                        <string>НАБ. ДНІПРОВСЬКА=ДНІПРОВСЬКА НАБЕРЕЖНА</string>
                        <string>ДОБРОХОТОВА=ДОБРОХОТОВА АКАДЕМІКА</string>
                        <string>ДОВНАР=ДОВНАР-ЗАПОЛЬСЬКОГО</string>
                        <string>ДРАЙЗЕРА=ДРАЙЗЕРА ТЕОДОРА</string>
                        <string>ДУБІНІНА=ДУБІНІНА ВОЛОДІ</string>
                        <string>ЗАБОЛОТНОГО=ЗАБОЛОТНОГО АКАДЕМІКА</string>
                        <string>ЗАКРЕВСЬКОГО=ЗАКРЕВСЬКОГО МИКОЛИ</string>
                        <string>КИБАЛЬЧИЧА=КИБАЛЬЧИЧА МИКОЛИ</string>
                        <string>КОТЕЛЬНИКОВА=КОТЕЛЬНИКОВА МИХАЙЛА</string>
                        <string>КОЦЮБИНСЬКОГО Ю=КОЦЮБИНСЬКОГО ЮРІЯ</string>
                        <string>КОЦЮБИНСЬКОГО М=КОЦЮБИНСЬКОГО МИХАЙЛА</string>
                        <string>М. КОЦЮБИНСЬКОГО=КОЦЮБИНСЬКОГО МИХАЙЛА</string>
                        <string>КОМАРОВА=КОМАРОВА КОСМОНАВТА ПРОСП.</string>
                        <string>КОРОЛЬОВА=КОРОЛЬОВА АКАДЕМІКА ПРОСП.</string>
                        <string>КРАМСЬКОГО=КРАМСЬКОГО ІВАНА</string>
                        <string>КРАСИКОВА=КРАСИКОВА ПЕТРА</string>
                        <string>КРАСІКОВА=КРАСИКОВА ПЕТРА</string>
                        <string>КОЗИЦЬКОГО=КОЗИЦЬКОГО ПИЛИПА</string>
                        <string>КРАВЧЕНКА=КРАВЧЕНКА МИКОЛИ</string>
                        <string>КРАСНОВА=КРАСНОВА МИКОЛИ</string>
                        <string>ВУЛ. М. КРИВОНОСА=КРИВОНОСА МАКСИМА</string>
                        <string>КУДРІ=КУДРІ ІВАНА</string>
                        <string>КУРБАСА=КУРБАСА ЛЕСЯ ПРОСП.</string>
                        <string>КУРЧАТОВА=КУРЧАТОВА АКАДЕМІКА</string>
                        <string>ЛАЗО=ЛАЗО СЕРГІЯ</string>
                        <string>ЛЕЙПЦ=ЛЕЙПЦИЗЬКА</string>
                        <string>ЛЕПСЕ І=ЛЕПСЕ ІВАНА БУЛЬВ.</string>
                        <string>МАЗЕПИ=МАЗЕПИ ІВАНА</string>
                        <string>МАТЕЮКА=МАТЕЮКА МИКОЛИ</string>
                        <string>МАЙБОРОДИ=ПЛАТОНА МАЙБОРОДИ</string>
                        <string>МАЯКОВСЬКОГО=МАЯКОВСЬКОГО В. ПРОСП.</string>
                        <string>МИЛЬЧАКОВА=МИЛЬЧАКОВА ОЛЕКСАНДРА</string>
                        <string>МІЛЬЧАКОВА=МИЛЬЧАКОВА ОЛЕКСАНДРА</string>
                        <string>МУРАШКА=МУРАШКА МИКОЛИ</string>
                        <string>НАВОЇ=НАВОЇ АЛІШЕРА ПРОСП.</string>
                        <string>ОКІПНОЇ=ОКІПНОЇ РАЇСИ</string>
                        <string>ПЕРВОМАЙСЬКОГО=ПЕРВОМАЙСЬКОГО ЛЕОНІДА</string>
                        <string>ПЕТЛЮРИ=ПЕТЛЮРИ СИМОНА</string>
                        <string>ПІДВИСОЦЬКОГО=ПІДВИСОЦЬКОГО ПРОФЕСОРА</string>
                        <string>ПІКА=ПІКА ВІЛЬГЕЛЬМА</string>
                        <string>ПИМОНЕНКА=ПИМОНЕНКА МИКОЛИ</string>
                        <string>ПОЛКОВІЙ=ПОЛКОВА</string>
                        <string>РАЄВСЬКОГО=РАЄВСЬКОГО МИКОЛИ</string>
                        <string>РАДЧЕНКА=РАДЧЕНКА ПЕТРА</string>
                        <string>РИБАЛКА=РИБАЛКА МАРШАЛА</string>
                        <string>РУДЕНКО=РУДЕНКО ЛАРИСИ</string>
                        <string>НАБ. РУСАНІВСЬКА=РУСАНІВСЬКА НАБЕРЕЖНА</string>
                        <string>СЕРГІЄНКА=СЕРГІЄНКА ІВАНА</string>
                        <string>СТАЛЬСЬКОГО=СТАЛЬСЬКОГО СУЛЕЙМАНА</string>
                        <string>ТЕЛІГИ=ТЕЛІГИ ОЛЕНИ</string>
                        <string>ТИМОФІЄВОЇ=ТИМОФЄЄВОЇ ГАЛІ</string>
                        <string>ТИМОФЄЄВОЇ=ТИМОФЄЄВОЇ ГАЛІ</string>
                        <string>БЛ. УКРАЇНКИ Л=ЛЕСІ УКРАЇНКИ БУЛЬВ.</string>
                        <string>УКРАЇНКИ Б=ЛЕСІ УКРАЇНКИ БУЛЬВ.</string>
                        <string>ВУЛ. ФРАНКА=ФРАНКА ІВАНА</string>
                        <string>ФЕДОРОВА=ФЕДОРОВА ІВАНА</string>
                        <string>ХМЕЛЬНИЦЬКОГО Б=ХМЕЛЬНИЦЬКОГО БОГДАНА</string>
                        <string>ХОХЛОВИХ=ХОХЛОВИХ СІМ'Ї</string>
                        <string>ШАМРИЛА=ШАМРИЛА ТИМОФІЯ</string>
                        <string>БЛ. ШЕВЧЕНКА Т=ШЕВЧЕНКА ТАРАСА БУЛЬВ.</string>
                        <string>ШЕПЕЛЄВА=ШЕПЕЛЄВА МИКОЛИ</string>
                        <string>ШУМСЬКОГО=ШУМСЬКОГО ЮРІЯ</string>
                        <string>АЛЕЙХЕМ=ШОЛОМ-АЛЕЙХЕМА</string>
                        <string>ЮНКЕРОВА=ЮНКЕРОВА МИКОЛИ</string>
                        <string>ЯРМОЛИ=ЯРМОЛИ ВІКТОРА</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RentPaymentStreetSuffix" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПРОСПЕКТ=ПРОСПЕКТ</string>
                        <string>ПРОСП.=ПРОСПЕКТ</string>
                        <string>ПР-КТ=ПРОСПЕКТ</string>
                        <string>ПР-Т=ПРОСПЕКТ</string>
                        <string>ПР.=ПРОСПЕКТ</string>
                        <string>ПРОВ=ПРОВУЛОК</string>
                        <string>ВУЛИЦЯ</string>
                        <string>ВУЛ</string>
                        <string>БУЛЬВАР=БУЛЬВАР</string>
                        <string>БУЛЬВ=БУЛЬВАР</string>
                        <string>БУЛ.=БУЛЬВАР</string>
                        <string>ПЛОЩА=ПЛОЩА</string>
                        <string>УЗВІЗ=УЗВІЗ</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StreetAvenuePrefixList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПР-Т</string>
                        <string>ПРОСП.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StreetBoulevardPrefixList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>БУЛЬВ.</string>
                        <string>БЛ.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StreetLanePrefixList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПРОВУЛ.</string>
                        <string>ПРОВ.</string>
                        <string>ПРОВ </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StreetSquarePrefixList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ПЛОЩА</string>
                        <string>ПЛ.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>192.168.10.4</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SmtpUser" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="SmtpReplyTo" serializeAs="String">
                <value>support@itgukraine.com</value>
            </setting>
            <setting name="SmtpDomain" serializeAs="String">
                <value>GUM-KMDA</value>
            </setting>
        </GUKV.ImportToolUtils.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
