<?xml version="1.0"?>
<configuration>
  <!--<location path="SODList.aspx">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <system.web>
    <authorization>
      <deny roles="1NFReportSubmitter" />
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>
