<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="GUKV.DataMigration.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <GUKV.DataMigration.Properties.AppSettings>
            <setting name="ObjectPropList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>street_full_name=Назва Вулиці</string>
                        <string>addr_nomer=Номер Будинку</string>
                        <string>district=Район</string>
                        <string>addr_zip_code=Поштовий Індекс</string>
                        <string>num_floors=Кількість Поверхів</string>
                        <string>construct_year=Рік Побудови</string>
                        <string>history=Історична Цінність</string>
                        <string>object_kind=Вид Об'єкту</string>
                        <string>object_type=Тип Об'єкту</string>
                        <string>sqr_total=Загальна Площа</string>
                        <string>sqr_habit=Житлова Площа</string>
                        <string>sqr_non_habit=Нежитлова Площа</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BalansPropList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>org_full_name=Повна Назва Балансоутримувача</string>
                        <string>org_short_name=Коротка Назва Балансоутримувача</string>
                        <string>org_zkpo_code=Код ЄДРПОУ</string>
                        <string>org_industry=Галузь</string>
                        <string>org_occupation=Вид Діяльності</string>
                        <string>district=Район Будинку</string>
                        <string>street_full_name=Назва Вулиці</string>
                        <string>addr_nomer=Номер Будинку</string>
                        <string>sqr_total=Загальна Площа (кв.м.)</string>
                        <string>sqr_pidval=Підвальна Площа (кв.м.)</string>
                        <string>sqr_vlas_potreb=Площа Для Власних Потреб (кв.м.)</string>
                        <string>sqr_free=Вільна Площа (кв.м.)</string>
                        <string>sqr_in_rent=Площа Надана В Оренду (кв.м.)</string>
                        <string>sqr_privatizov=Приватизована Площа (кв.м.)</string>
                        <string>sqr_not_for_rent=Площа Не Для Оренди (кв.м.)</string>
                        <string>sqr_gurtoj=Площа Гуртожитку (кв.м.)</string>
                        <string>sqr_non_habit=Нежитлова Площа (кв.м.)</string>
                        <string>cost_balans=Балансова Вартість (тис.грн.)</string>
                        <string>cost_expert_1m=Експертна Вартість За Кв.м. (тис.грн.)</string>
                        <string>cost_expert_total=Експертна Вартість (тис.грн.)</string>
                        <string>cost_zalishkova=Залишкова Вартість (тис.грн.)</string>
                        <string>num_rent_agr=Кількість Договорів Оренди</string>
                        <string>num_privat_apt=Кількість Приватизованих Приміщень</string>
                        <string>approval_by=Дозвіл - Джерело</string>
                        <string>approval_num=Дозвіл - Номер</string>
                        <string>approval_date=Дозвіл - Дата</string>
                        <string>bti_condition=Документація БТІ</string>
                        <string>num_floors=Кількість Поверхів</string>
                        <string>org_maintainer_full_name=Повна Назва Утримуючої Організації</string>
                        <string>org_maintainer_short_name=Коротка Назва Утримуючої Організації</string>
                        <string>org_maintainer_zkpo_code=Код ЄДРПОУ Утримуючої Організації</string>
                        <string>otdel_gukv=Відділ ДКВ</string>
                        <string>form_ownership=Форма Власності Об'єкту</string>
                        <string>ownership_type=Право</string>
                        <string>object_kind=Вид Об'єкту</string>
                        <string>object_type=Тип Об'єкту</string>
                        <string>condition=Стан Об'єкту</string>
                        <string>purpose_group=Група Призначення</string>
                        <string>purpose=Призначення</string>
                        <string>history=Історична Цінність</string>
                        <string>date_expert=Дата Експертної Оцінки</string>
                        <string>floors=Поверхи</string>
                        <string>obj_bti_code=Код БТІ</string>
                        <string>memo=Додаткова Інформація</string>
                        <string>note=Примітка</string>
                        <string>znos=Знос (грн.)</string>
                        <string>znos_date=Знос станом на</string>
                        <string>org_vedomstvo=Орган Управління Балансоутримувача</string>
                        <string>org_ownership=Форма Власності Балансоутримувача</string>
                        <string>input_date=Дата Актуальності</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ArendaPropList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>org_balans_full_name=Назва Балансоутримувача</string>
                        <string>org_balans_short_name=Коротка Назва Балансоутримувача</string>
                        <string>org_balans_zkpo=Код ЄДРПОУ Балансоутримувача</string>
                        <string>org_balans_industry=Галузь Балансоутримувача</string>
                        <string>org_balans_occupation=Вид Діяльності Балансоутримувача</string>
                        <string>balans_org_ownership=Форма Власності Балансоутримувача</string>
                        <string>org_renter_full_name=Назва Орендаря</string>
                        <string>org_renter_short_name=Коротка Назва Орендаря</string>
                        <string>org_renter_zkpo=Код ЄДРПОУ Орендаря</string>
                        <string>org_renter_industry=Галузь Орендаря</string>
                        <string>org_renter_occupation=Вид Діяльності Орендаря</string>
                        <string>org_giver_full_name=Назва Орендодавця</string>
                        <string>org_giver_short_name=Коротка Назва Орендодавця</string>
                        <string>org_giver_zkpo=Код ЄДРПОУ Орендодавця</string>
                        <string>org_giver_industry=Галузь Орендодавця</string>
                        <string>org_giver_occupation=Вид Діяльності Орендодавця</string>
                        <string>district=Район Будинку</string>
                        <string>street_full_name=Назва Вулиці</string>
                        <string>addr_nomer=Номер Будинку</string>
                        <string>object_name=Використання Приміщення</string>
                        <string>object_note=Примітка</string>
                        <string>purpose_group=Група Призначення</string>
                        <string>purpose=Призначення</string>
                        <string>is_privat=Приватизовано</string>
                        <string>agreement_kind=Тип Договору Оренди</string>
                        <string>agreement_date=Дата Договору Оренди</string>
                        <string>agreement_date_year=Дата Договору Оренди - Рік</string>
                        <string>agreement_date_quarter=Дата Договору Оренди - Квартал</string>
                        <string>agreement_num=Номер Договору Оренди</string>
                        <string>floor_number=Поверх</string>
                        <string>cost_agreement=Орендна Плата по Договору (грн.)</string>
                        <string>cost_expert_1m=Експертна Вартість За Кв.м. (грн.)</string>
                        <string>cost_expert_total=Експертна Вартість (грн.)</string>
                        <string>pidstava_display=Підстави Для Оренди</string>
                        <string>rent_start_date=Початок Оренди</string>
                        <string>rent_start_year=Початок Оренди - Рік</string>
                        <string>rent_start_quarter=Початок Оренди - Квартал</string>
                        <string>rent_finish_date=Закінчення Оренди</string>
                        <string>rent_finish_year=Закінчення Оренди - Рік</string>
                        <string>rent_finish_quarter=Закінчення Оренди - Квартал</string>
                        <string>rent_actual_finish_date=Фактичне Закінчення Оренди</string>
                        <string>actual_finish_year=Фактичне Закінчення Оренди - Рік</string>
                        <string>actual_finish_quarter=Фактичне Закінчення Оренди - Квартал</string>
                        <string>rent_rate_percent=Ставка</string>
                        <string>rent_rate_uah=Ставка (грн.)</string>
                        <string>rent_square=Площа (кв.м.)</string>
                        <string>num_akt=Номер Акту</string>
                        <string>date_akt=Дата Акту</string>
                        <string>is_subarenda=Субаренда</string>
                        <string>payment_type=Вид Розрахунків</string>
                        <string>org_balans_vedomstvo=Орган Управління Балансоутримувача</string>
                        <string>org_renter_vedomstvo=Орган Управління Орендаря</string>
                        <string>org_giver_vedomstvo=Орган Управління Орендодавця</string>
                        <string>balans_sqr_total=Загальна Площа На Балансі Балансоутримувача (кв.м.)</string>
                        <string>balans_num_rent_agr=Кількість Договорів Оренди Балансоутримувача</string>
                        <string>balans_sqr_in_rent=Загальна Площа Балансоутримувача Надана В Оренду (кв.м.)</string>
                        <string>balans_form_ownership=Форма Власності Об'єкту</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PrivatPropList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>org_balans=Балансоутримувач</string>
                        <string>org_balans_zkpo=Код ЄДРПОУ Балансоутримувача</string>
                        <string>subord_code=Сфера Управління Об'єкту</string>
                        <string>subordination=Назва Сфери Управління Об'єкту</string>
                        <string>district=Район</string>
                        <string>street_full_name=Назва Вулиці</string>
                        <string>addr_nomer=Номер Будинку</string>
                        <string>obj_name=Назва Об'єкту</string>
                        <string>org_name=Покупець</string>
                        <string>org_address=Адреса Покупця</string>
                        <string>director_fio=ПІБ Директора Покупця</string>
                        <string>director_phone=Тел. Директора Покупця</string>
                        <string>sqr_total=Загальна Площа Об'єкту (кв.м.)</string>
                        <string>obj_group=Група Об'єкту</string>
                        <string>privat_kind=Спосіб Приватизації</string>
                        <string>privat_state=Стан</string>
                        <string>purpose_group=Група Призначення Об'єкту</string>
                        <string>object_kind=Вид Об'єкту</string>
                        <string>object_type=Тип Об'єкту</string>
                        <string>obj_floor=Поверх</string>
                        <string>cost=Вартість (грн.)</string>
                        <string>cost_expert=Експертна Оцінка</string>
                        <string>expert_date=Дата Експертної Оцінки</string>
                        <string>note=Примітка</string>
                        <string>rishennya_num=Номер Рішення</string>
                        <string>rishennya_date=Дата Рішення</string>
                        <string>rishennya_topic=Назва Рішення</string>
                        <string>rishennya_search_name=Рішення</string>
                        <string>agreement_num=Номер Договору</string>
                        <string>agreement_date=Дата Договору</string>
                        <string>agreement_topic=Назва Договору</string>
                        <string>agreement_search_name=Договір</string>
                        <string>akt_num=Номер Акту</string>
                        <string>akt_date=Дата Акту</string>
                        <string>akt_topic=Назва Акту</string>
                        <string>akt_search_name=Акт Приймання-Передачі</string>
                        <string>object_history=Історична Цінність</string>
                    </ArrayOfString>
                </value>
            </setting>
        </GUKV.DataMigration.Properties.AppSettings>
    </userSettings>
</configuration>
