<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<connectionStrings>
		<add name="GUKVConnectionString" connectionString="data source=.;initial catalog=GUKV20250510;persist security info=True;user id=sa;password=sql;MultipleActiveResultSets=True;App=GUKVReportApp;Max Pool Size=32000;Connect Timeout=100" providerName="System.Data.SqlClient"/>
	</connectionStrings>


	<appSettings>
		<add key="ImgContent.Directory" value="E:\PROJECTS\DKVSOURCESFINALEDITION\ReportWebSite\ImgContent"/>
		<add key="ImgContent.LifeMinutes" value="2000"/>

		<add key="Service.CycleSeconds" value="5"/>
		<add key="NLog.Run" value="1"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
</configuration>
