<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		<add key="ImgContent.Directory" value="E:\PROJECTS\DKVSOURCESFINALEDITION\ReportWebSite\ImgContent" />
		<add key="ImgContent.LifeMinutes" value="2000" />
		
		<add key="Service.CycleSeconds" value="5" />
		<add key="NLog.Run" value="1" />
	</appSettings>

</configuration>